.Rproj.user
.Rhistory
rempsyc.Rproj
cormatrix1.xlsx
rempsyc.Rcheck/
cache
inst/doc
~$test.docx
test.docx
.Rapp.history
.RData
.Ruserdata
*-Ex.R
/*.tar.gz
/*.Rcheck/
.Rproj.user/
vignettes/*.html
vignettes/*.pdf
.httr-oauth
*_cache/
/cache/
*.utf8.md
*.knit.md
.Renviron
.DS_Store
easydashboard.html
docs
docs/
Rplots.pdf
